{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyPGi4JMG+P5im4Na8vBM8u+"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"Q-vSJ5R6utEb"},"outputs":[],"source":["flask==2.2.3\n","pandas==1.5.3\n","numpy==1.23.5\n","scikit-learn==1.2.0\n","joblib==1.2.0\n","lightgbm==3.3.5\n"]}]}